@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
    margin: 0;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  body {
    background-color:  #e3e6e6;;
  }
  .navbar-content
  {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
background-color: #ffff;
    width: 100%;
    height: 60px;
 
   
  }
  .logo{
    background-image: url("assets/images/logo.png");
    width: 150px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .menu-btn
  {
    background-color: #f0f5ff;
    border: none;
    outline: none;
    height: 35px;
    width: 40px;
    border-radius: 15px;
    cursor: pointer;
  }
  .menu-icon:hover{
color: #0858f7;

  }
  .menu-icon{
    font-size: 1.5rem;
  }
  .search-bar{
    background-color: #f0f5ff;
    border: none;
    outline: none;
    width: 250px;
    height: 35px;
  }
  .search-content{
    display: flex;
  }
  .search-icon{
    background-color: #f0f5ff;
   height: 35px;
  font-size: 1.2rem;
  }
  .theme-icon
  {
    font-size: 1.2rem;
  }
  .theme-btn
  {
    background-color: #f0f5ff;
    border: none;
    outline: none;
    height: 35px;
    width: 40px;
    border-radius: 15px;
    cursor: pointer;
  }
  .theme-icon:hover{
    color: #0858f7;
    
      }
.lang-btn
{
    background-color: #f0f5ff;
    border: none;
    outline: none;
    height: 35px;
    width: 40px;
    border-radius: 15px;
    cursor: pointer;  
}
.cart-btn{
    background-color: #f0f5ff;
    border: none;
    outline: none;
    height: 35px;
    width: 40px;
    border-radius: 15px;
    cursor: pointer;
}
.email-btn{
    background-color: #f0f5ff;
    border: none;
    outline: none;
    height: 35px;
    width: 40px;
    border-radius: 15px;
    cursor: pointer;
}
.noti-btn{
    background-color: #f0f5ff;
    border: none;
    outline: none;
    height: 35px;
    width: 40px;
    border-radius: 15px;
    cursor: pointer;
}
.lang-icon:hover{
    color: #0858f7;
    
      }
.email-icon:hover{
        color: #0858f7;
}
.noti-icon:hover{
    color: #0858f7;
}
.cart-icon:hover{
    color: #0858f7;
}
.email-icon
  {
    font-size: 1.2rem;
  }
  .lang-icon
  {
    font-size: 1.2rem;
  }
  .noti-icon
  {
    font-size: 1.2rem;
  }
  .cart-icon
  {
    font-size: 1.2rem;
  }
  
  .user-image
  {
    background-image: url("assets/images/user.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    width: 38px;
    height: 37px;
    border-radius: 20px;
    border:  2px solid #0858f7;

    margin-left: 10px;
  }
  .myaccount-content
  {
    display: flex;
  }
  .name p{
    color: #0858f7;
    margin-left: 10px;
  }
  .name span{
    color: #67677a;
    margin-left: 10px;
    font-size: 0.8rem;
  }
  .account-down
  {
   outline: none;
   border: none;
   background-color: #ffff;
   cursor: pointer;;
  }
  .p-name{
    display: flex;
  }
  .reset{

margin-right: 10px;
margin-left: 0;
  }
  .account-icon{
    margin-right: 10px;
  }
  .logout{
    color: #ff304f;
  }
  .logout-icon{
    color: #ff304f;
  }
  .noti-list
  {
    display: flex;
    margin-bottom: 10px;
    width: 260px;
    cursor: pointer;
    font-size: 0.9rem;
  }
  
::-webkit-scrollbar {
  width: 5px; }



::-webkit-scrollbar-thumb {
  background: #0858f7; 
  border-radius: 10px;
  border: 1px solid #f1f1f1; 
}


  .menu-noti{
   height: 480px;
   overflow-y: auto;
  }
  .menu-noti::-webkit-scrollbar{
    width: 1px;
  }
  .noti-logo{
    background-image: url("assets/images/user.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    width: 60px;
    height: 35px;
    border-radius: 20px;
    border:  2px solid #0858f7;
    margin-right: 10px;
    margin-left: 10px;
  }
  .noti-time
  {
    color: #0a55e9;
    font-size: 0.89rem;
    margin-top: 8px;
  }
  .Dashboard-container{
    display: flex;
  }
  .left{
    width: 20%;
    background-color: #ffff;
    height: 90vh;

    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .right{
    width: 80%;
 scroll-behavior: smooth;
    overflow-y:scroll;
    overflow-x: hidden;
  }
  .sidebar-container p{
    color: #bababa;
    margin-left: 10px;
  }
  
  .dash-btn{
    background-color: #ffffff;
    outline: none;
    border: none;
    cursor: pointer;
    height: 50px;

  }
  .dash-btn:hover{
    background-color: #f1f1f1;
  }
  .dash-icon{
    font-size: 1.3rem;
   margin-right: 10px;
   color: #5e5d72;
   
  }
  .dashboard{
    display: flex;
    margin-top: 10px;
  }
  .for-icon{
margin-left: 60px;
color: #5e5d72;

  }
  .dashboard span{
    color: #5e5d72;
  }
  .dashboard button{
    margin-left: 20px;
  }
  .Products button{
    margin-left: 20px;
  }
  .Orders button{
    margin-left: 20px;
  }
  .Settings button{
    margin-left: 20px;
  }
  .Messages button{
    margin-left: 20px;
  }
  .Notifications button{
    margin-left: 20px;
  }
  .pdt-btn{
    background-color: #ffffff;
    outline: none;
    border: none;
    cursor: pointer;
    height: 50px;
  }
  .pdt-btn:hover{
    background-color: #f1f1f1;
  }
  .pdt-icon{
    font-size: 1.3rem;
   margin-right: 10px;
   color: #5e5d72;
  }
  .pdtfor-icon{
    margin-left: 70px;
color: #5e5d72;
  }
  .Products span{
    color: #5e5d72;
  }



  .o-btn{
    background-color: #ffffff;
    outline: none;
    border: none;
    cursor: pointer;
    height: 50px;
  }
  .o-btn:hover{
    background-color: #f1f1f1;
  }
  .o-icon{
    font-size: 1.3rem;
   margin-right: 10px;
   color: #5e5d72;
  }
  .ofor-icon{
    margin-left: 86px;
color: #5e5d72;
  }
  .Orders span{
    color: #5e5d72;
  }


  .msg-btn{
    background-color: #ffffff;
    outline: none;
    border: none;
    cursor: pointer;
    height: 50px;
  }
  .msg-btn:hover{
    background-color: #f1f1f1;
  }
  .msg-icon{
    font-size: 1.3rem;
   margin-right: 10px;
   color: #5e5d72;
  }
  .msgfor-icon{
    margin-left: 65px;
color: #5e5d72;
  }
  .Messages span{
    color: #5e5d72;
  }


  .n-btn{
    background-color: #ffffff;
    outline: none;
    border: none;
    cursor: pointer;
    height: 50px;
  }
  .n-btn:hover{
    background-color: #f1f1f1;
  }
  .n-icon{
    font-size: 1.3rem;
   margin-left: 19px;
   margin-right: 10px;
   color: #5e5d72;
  }
  .nfor-icon{
    margin-left: 35px;
color: #5e5d72;
  }
  .Noti span{
    color: #5e5d72;
  
  }


  .set-btn{
    background-color: #ffffff;
    outline: none;
    border: none;
    cursor: pointer;
    height: 50px;
  }
  .set-btn:hover{
    background-color: #f1f1f1;
  }
  .set-icon{
    font-size: 1.3rem;

   margin-right: 10px;
   color: #5e5d72;
  }
  .setfor-icon{
    margin-left: 72px;
color: #5e5d72;
  }
  .Settings span{
    color: #5e5d72;
  
  }

.P-dropdown {
  list-style: none;
  
}
  
.pdt-accordion {
  box-shadow: none !important; 
  background: transparent !important; 
}
.prd{
  font-size: 0.9rem;

}
.product-list{
  list-style: none;
  cursor: pointer;
}
.product-list li a{
 text-decoration: none;
 color: inherit !important;

}
.product-list li{
  margin-top: 5px;
  color: #5e5d72;
  font-size: 0.9rem;
  line-height: 20px;
}
.product-list li:hover{
  color: #0858f7;
}
.pdtfor-icon, .pdtexp-icon {
  margin-right: 42px !important; 
  transition: transform 0.3s ease-in-out; 
}
.pdt-arrow{
 
  margin-right: 40px;
}
.pdt-icon{
  margin-bottom: 5px;
}