@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  border: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #e3e6e6;
}

.navbar-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffff;
  width: 100%;
  height: 60px;
}
.logo {
  background-image: url("assets/images/logo.png");
  width: 150px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
}
.menu-btn {
  background-color: #f0f5ff;
  border: none;
  outline: none;
  height: 35px;
  width: 40px;
  border-radius: 15px;
  cursor: pointer;
}
.menu-icon:hover {
  color: #0858f7;
}
.menu-icon {
  font-size: 1.5rem;
}
.search-bar {
  background-color: #f0f5ff;
  border: none;
  outline: none;
  width: 250px;
  height: 35px;
}
.search-content {
  display: flex;
}
.search-icon {
  background-color: #f0f5ff;
  height: 35px;
  font-size: 1.2rem;
}
.theme-icon {
  font-size: 1.2rem;
}
.theme-btn {
  background-color: #f0f5ff;
  border: none;
  outline: none;
  height: 35px;
  width: 40px;
  border-radius: 15px;
  cursor: pointer;
}
.theme-icon:hover {
  color: #0858f7;
}
.lang-btn {
  background-color: #f0f5ff;
  border: none;
  outline: none;
  height: 35px;
  width: 40px;
  border-radius: 15px;
  cursor: pointer;
}
.cart-btn {
  background-color: #f0f5ff;
  border: none;
  outline: none;
  height: 35px;
  width: 40px;
  border-radius: 15px;
  cursor: pointer;
}
.email-btn {
  background-color: #f0f5ff;
  border: none;
  outline: none;
  height: 35px;
  width: 40px;
  border-radius: 15px;
  cursor: pointer;
}
.noti-btn {
  background-color: #f0f5ff;
  border: none;
  outline: none;
  height: 35px;
  width: 40px;
  border-radius: 15px;
  cursor: pointer;
}
.lang-icon:hover {
  color: #0858f7;
}
.email-icon:hover {
  color: #0858f7;
}
.noti-icon:hover {
  color: #0858f7;
}
.cart-icon:hover {
  color: #0858f7;
}
.email-icon {
  font-size: 1.2rem;
}
.lang-icon {
  font-size: 1.2rem;
}
.noti-icon {
  font-size: 1.2rem;
}
.cart-icon {
  font-size: 1.2rem;
}

.user-image {
  background-image: url("assets/images/user.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  width: 38px;
  height: 37px;
  border-radius: 20px;
  border: 2px solid #0858f7;

  margin-left: 10px;
}
.myaccount-content {
  display: flex;
}
.name p {
  color: #0858f7;
  margin-left: 10px;
}
.name span {
  color: #67677a;
  margin-left: 10px;
  font-size: 0.8rem;
}
.account-down {
  outline: none;
  border: none;
  background-color: #ffff;
  cursor: pointer;
}
.p-name {
  display: flex;
}
.reset {
  margin-right: 10px;
  margin-left: 0;
}
.account-icon {
  margin-right: 10px;
}
.logout {
  color: #ff304f;
}
.logout-icon {
  color: #ff304f;
}
.noti-list {
  display: flex;
  margin-bottom: 10px;
  width: 260px;
  cursor: pointer;
  font-size: 0.9rem;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #0858f7;
  border-radius: 10px;
  border: 1px solid #f1f1f1;
}

.menu-noti {
  height: 480px;
  overflow-y: auto;
}
.menu-noti::-webkit-scrollbar {
  width: 1px;
}
.noti-logo {
  background-image: url("assets/images/user.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  width: 60px;
  height: 35px;
  border-radius: 20px;
  border: 2px solid #0858f7;
  margin-right: 10px;
  margin-left: 10px;
}
.noti-time {
  color: #0a55e9;
  font-size: 0.89rem;
  margin-top: 8px;
}

.sidebar-container p {
  color: #bababa;
  margin-left: 10px;
}

.dash-btn {
  background-color: #ffffff;
  outline: none;
  border: none;
  cursor: pointer;
  height: 50px;
}
.dash-btn:hover {
  background-color: #f1f1f1;
}
.dash-icon {
  font-size: 1.3rem;
  margin-right: 10px;
  color: #5e5d72;
}

.for-icon {
  margin-left: 60px;
  color: #5e5d72;
}
.dashboard span {
  color: #5e5d72;
}
.dashboard button {
  margin-left: 20px;
}
.Products button {
  margin-left: 20px;
}
.Orders button {
  margin-left: 20px;
}
.Settings button {
  margin-left: 20px;
}
.Messages button {
  margin-left: 20px;
}
.Notifications button {
  margin-left: 20px;
}
.p-btn {
  background-color: #ffffff;
  outline: none;
  border: none;
  cursor: pointer;
  height: 50px;
}
.p-btn:hover {
  background-color: #f1f1f1;
}
.p-icon {
  font-size: 1.3rem;
  margin-right: 10px;
  color: #5e5d72;
}
.pfor-icon {
  margin-left: 70px;
  color: #5e5d72;
}
.Products span {
  color: #5e5d72;
}

.o-btn {
  background-color: #ffffff;
  outline: none;
  border: none;
  cursor: pointer;
  height: 50px;
}
.o-btn:hover {
  background-color: #f1f1f1;
}
.o-icon {
  font-size: 1.3rem;
  margin-right: 10px;
  color: #5e5d72;
}
.ofor-icon {
  margin-left: 86px;
  color: #5e5d72;
}
.Orders span {
  color: #5e5d72;
}

.msg-btn {
  background-color: #ffffff;
  outline: none;
  border: none;
  cursor: pointer;
  height: 50px;
}
.msg-btn:hover {
  background-color: #f1f1f1;
}
.msg-icon {
  font-size: 1.3rem;
  margin-right: 10px;
  color: #5e5d72;
}
.msgfor-icon {
  margin-left: 65px;
  color: #5e5d72;
}
.Messages span {
  color: #5e5d72;
}

.n-btn {
  background-color: #ffffff;
  outline: none;
  border: none;
  cursor: pointer;
  height: 50px;
}
.n-btn:hover {
  background-color: #f1f1f1;
}
.n-icon {
  font-size: 1.3rem;
  margin-left: 19px;
  margin-right: 10px;
  color: #5e5d72;
}
.nfor-icon {
  margin-left: 35px;
  color: #5e5d72;
}
.Noti span {
  color: #5e5d72;
}

.set-btn {
  background-color: #ffffff;
  outline: none;
  border: none;
  cursor: pointer;
  height: 50px;
}
.set-btn:hover {
  background-color: #f1f1f1;
}
.set-icon {
  font-size: 1.3rem;

  margin-right: 10px;
  color: #5e5d72;
}
.setfor-icon {
  margin-left: 72px;
  color: #5e5d72;
}
.Settings span {
  color: #5e5d72;
}
.dropdown-menu-p li {
  list-style: none;
  text-decoration: none;
  font-size: 0.9rem;
  line-height: 30px;
  color: #5e5d72;
  margin-left: 15px;
}
.dropdown-menu-p li:hover {
  color: #0858f7;
  cursor: pointer;
}

.l-b {
  background-color: #0858f7;
  width: 100px;
  height: 30px;
  border: none;
  outline: none;
  color: #fff;
  margin-left: 60px;
  margin-bottom: 50px;
  margin-top: 40px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
}
.log-icon {
  margin-right: 5px;
}
.logout-content {
  background-color: #bcd1fc;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 15px;
  margin-bottom: 30px;
}

.heading {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #ffffff;
  width: 100%;
  height: 60px;
}
.heading-content h4 {
  padding-left: 20px;
  padding-top: 20px;
  color: #403e57;
  font-size: 1.2rem;
}

.box5 {
  background-color: #155de6;
  max-width: 500px;
  height: 325px;
  margin-left: 10px;
  border-radius: 10px;
}

.sidebar {
  transition: all 0.3s ease-in-out;
  width: 20%;
  height: 90vh;
  scroll-behavior: smooth;
  overflow-y: scroll;
  background-color: #ffffff;
  overflow-x: hidden;
  scrollbar-width: none;
}

.content {
  width: 80%;
  padding: 0px;
  height: 90vh;
  scroll-behavior: smooth;
  overflow-y: scroll;
  background-color: #f8f8f8;
  overflow-x: hidden;
  scrollbar-width: none;
}

.heading h4 {
  font-size: 22px;
  font-weight: bold;
}
.content.expand-content {
  flex: 1;
  width: calc(100% - 250px); /* Adjust based on your sidebar width */
}

.boxes {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}
.left-boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  width: 65%;
  margin-left: 20px;
}

.box {
  border-radius: 10px;
  padding: 15px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 130px;
  color: white;
}

.box h4 {
  font-size: 16px;
}
.box-content h4 {
  margin-bottom: 40px;
  margin-left: 10px;
}
.box-content h2 {
  margin-bottom: 20px;
  margin-left: 10px;
}

.box h2 {
  font-size: 28px;
  font-weight: bold;
}

.growth {
  font-size: 12px;
}

.growth span {
  padding: 5px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-size: 12px;
}

.box-icon {
  font-size: 30px;
  opacity: 0.8;
}

.right-box {
  width: 35%;
}

.box5 {
  background: #005eff;
  padding: 20px;
  border-radius: 10px;
  color: white;
  width: 270px;
  margin-left: 20px;
}
.box5 h4 {
  margin-bottom: 20px;
}

.box5 h2 {
  font-size: 26px;
}

.box5 .up {
  color: #89ecbc;
  font-size: 16px;
}
.box5 p {
  color: #89ecbc;
  margin-top: 7px;
}
.heading h4 {
  padding-left: 10px;
  padding-top: 10px;
}
.menu-dots {
  margin-top: 30px;
}
.box-icons {
  display: grid;
}
.menud-b {
  color: white !important;
}
.box5-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.day-st {
  color: #5e5d72;
  margin-right: 10px;
}
.chart-placeholder {
  margin-top: 10px;
}

.best-container {
  background-color: #fff;
  width: 100%;
  padding-left: 10px;
  padding-top: 10px;
}

.best-heading h4 {
  margin-right: 600px;
}
.best-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.del {
  margin-right: 5px;
}
.download {
  margin-right: 5px;
}
.edit {
  margin-right: 5px;
}
.menubest {
  background-color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  margin-bottom: 10px;
  margin-right: 10px;
}
.showby {
  width: 220px;
}
.searchby {
  width: 220px;
}
.brandby {
  width: 220px;
}
.category {
  width: 220px;
}
.table-container {
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

thead tr {
  background-color: #007bff;
  color: white;
}

th,
td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}
td {
  color: #5e5d72;
}

.action-buttons button {
  margin: 0 5px;
  cursor: pointer;
  border: none;
  padding: 5px 8px;
  border-radius: 4px;
  font-size: 14px;
}

.view-btn {
  background-color: #d1c4e9;
  color: #6a1b9a;
}

.edit-btn {
  background-color: #c8e6c9;
  color: #2e7d32;
}

.delete-btn {
  background-color: #ffcdd2;
  color: #c62828;
}

.view-btn:hover {
  background-color: #b39ddb;
}

.edit-btn:hover {
  background-color: #a5d6a7;
}

.delete-btn:hover {
  background-color: #ef9a9a;
}
.price-td {
  display: grid;
}
.old {
  color: #5e5d72;
}
.new {
  color: #ff627a;
}
.rtd {
  color: #edb213;
  margin-right: 2px;
}
.top {
  font-weight: bold;
  font-size: 14px;
}
.bottom {
  font-size: 0.8rem;
  color: gray;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.p1-image {
  background-image: url("assets/images/p1.webp");
  width: 50px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
}

html, body {
  overflow: auto;
}
 

.product-matter {
  display: grid;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
  display: block;
}
.products-t {
  display: flex;
  align-items: center;
  gap: 10px;
}
.page {
  margin-left: 400px;
  margin-top: 10px;
}
.pagination-p p {
  margin-top: 10px;
}
.pagination-p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-container {
 display: flex;
 flex-wrap: nowrap;
 width: 100%;
}
.content.expand-content {
  
}

.main-container .content.toggle {
  width: 100%;
}
.main-container .sidebar.toggle {
  width: 0%;
}
.signin-but button {
  background-color: #005eff;
  color: #ffff;
}
.hide-sidebar {
  display: none;
}

.Login-Container {
  display: flex;
  justify-content: center;

  background-color: #fefefe;
  width: 100%;
  height: 100vh;
}
.Signup-container{
  display: flex;
  justify-content: center;

  background-color: #fefefe;
  width: 45%;
  height: 100vh;
}
.login-logo {
  background-image: url("assets/images/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 150px;
  height: 50px;

  margin-top: 5px;
  margin-left: 90px;
}
.Signup-logo {
  background-image: url("assets/images/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 150px;
  height: 50px;

  margin-top: 5px;
  margin-left: 90px;
}
.Login-content h3 {
  color: #403e57;
  margin-left: 5px;
}
.Signup-content h3 {
  color: #403e57;
  margin-left: 5px;
}
.expand-content {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-box {
  display: block;
  width: 350px;
  height: 400px;
  margin-top: 10px;
}
.Signup-box {
  display: block;
  width: 350px;
  height: 400px;
  margin-top: 10px;
}
.input-field{
  background-color: #ffffff;
  display: flex;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  margin-top: 10px;
}

.input-email {
  display: flex;
  width: 280px;
  margin-left: 20px;
  padding: 10px;
}
.Login-content {
  background: white;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 350px;
}
.Signup-content {
  background: white;
  padding: 30px;
  margin-top: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 350px;
  height: 520px;
  margin-left: 100px;
 
}

h3 {
  margin-bottom: 20px;
  color: #333;
}

.icon {
  font-size: 18px;
  background-color: #ffffff;
  color: #005eff;
width: 20px;
  margin-top: 17px;
  margin-right: 10px;
  margin-left: 10px;
}
.input {
  border: none;
  outline: none;
  height: 35px;
  font-size: 16px;
  margin-top: 10px;
width: 280px;
}

.btn-signin {
  width: 100%;
  background: #0066ff;
  color: white;
  border-radius: 5px;
}
.forgot-password {
  margin-top: 10px;
  font-size: 14px;
  color: #888;
  cursor: pointer;
}
.or-divider {
  margin-top: 20px;
  margin-bottom: 20px;
}

.or-divider span {
  background: white;
  padding: 5px 10px;
  border-radius: 50%;
  border: 1px solid #ddd;
}

.social-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn-google {
  background: #db4932 !important;
  color: white !important;
}
.donthaveaccount{
  margin-top: 20px;
  font-size: 14px;
  color: #888;
  cursor: pointer;
}
.donthaveaccount span{
  color: #005eff;
  margin-left: 10px;
  margin-top: 20px;
  text-decoration: none;

}
.eye-icon {
  color: #555;
margin-top: 14px;
margin-right: 10px;
}
.checkbox-field{
  margin-top: 15px;
  margin-bottom: 15px;
}
.checkbox-field input{
  margin-right: 10px;
}
.matter-container{
width: 60%;
}
.matter-container .matter-content h1{
  color: #403e57;
  margin-top: 180px;
  font-size: 2.5rem;
  margin-left: 50px;
  font-weight: 1000;
  

}
.signup-page{
  display: flex;
}
.gotohome button{
background-color: #005eff;
color: #ffffff;
margin-top: 30px;
margin-left: 50px;
width: 200px;
}
.home-icon{
  font-size: 1.2rem;
  margin-right: 10px;
  margin-bottom: 5px;
}
